<div class="container mt-5">
  <h2>Votos do <%= @senador.name %></h2>
  <table data-controller="comparison-table">
    <thead>
      <tr>
        <td>Matéria</td>
        <td>Voto</td>
        <td>Descrição da Votação</td>
      </tr>
    </thead>
    <tbody>
      <% @senador.votes.each do |voto| %>
          <tr>
            <td><%= voto.bill.name %></td>
            <td class="primary-choice"><%= voto.choice %></td>
            <td><%= voto.bill.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
