<h1>test</h1>

<table>
  <thead>
    <tr>
      <td>Matéria</td>
      <td>Voto</td>
      <td>Descrição da Votação</td>
      <%# <td>Segundo</td> %>
    </tr>
  </thead>
  <tbody>


  </tbody>
  <%= @senador_secondary_votes %>
</table>
