.flip-card {
  background-color: transparent;
  height: 375px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 60%,#ffffff 60%,#ffffff 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px #00000010
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.image-icon{
  margin-top: 150px;
}

.card-title{
  margin-top: 10px;
}


@media (max-width: 767px){
  .card-col{
    padding-bottom: 20px;
  }

  .card-col:last-child{
    padding-bottom: 0px;
  }

}
