.custom-navbar {
  background-color: #000000;
  color: #6b6a6a
}

.navbar-title{
  font-size: 22px;
}

.navbar-options{
  text-decoration: none;
  color: #6b6a6a
}

.navbar-options:hover{
  color: #ffffff;
}

.navbar-options:active{
  color: #6b6a6a
}
